.systemBox{
  .mainBox{
    width: 100%;
    padding: 1% 1% 1% 0;
    &>.main{
      min-height: 100%;
      padding: 1%;
      .title{
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 10px;
        &>span{
          flex: 1;
          color: rgb(2, 125, 180);
        }
        &>.el-input{
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
  .el-table th,.el-table td{
    text-align: center;
  }
  .el-table th:first-child,.el-table td:first-child{
    text-align: left;
  }
  .el-dialog__header{
    background-color: rgb(23, 43, 77);
    padding: 10px;
    .el-dialog__title{
      color: #fff;
      font-size: 14px;
    }
    .el-dialog__headerbtn{
      top: 10px;
    }
  }
  .el-dialog__footer{
    text-align: center;
  }
  .el-dialog__body{
    padding-bottom: 0;
    .el-form-item__label{
      text-align: left;
    }
    .el-form-item__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .el-select{
        width: 48%;
        margin: 0px !important;
      }
    }
    .el-form-item__content::before,.el-form-item__content::after{
      content: none;
    }
  }
  // 人员管理
  .personnelBox{
    .item-group{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .el-form-item{
        width: 48%;
        .el-form-item__content{
          .el-select{
            width: 100%;
          }
        }
      }
    }
    .el-form-item__content .el-select{
      margin-right: 10px;
      width: 100%;
    }
    .el-form-item__content .ml-2{
      margin-left: 0.5rem !important;
    }
    .status .el-form-item__content{
      justify-content: flex-start;
    }
    .status .el-form-item__label{
      line-height: initial;
    }
  }
  // 权限管理
  .jurisdictionBox{
    .status .el-form-item__content{
      justify-content: flex-start;
    }
    .status .el-form-item__label{
      line-height: initial;
    }
  }
  // 设备管理
  .equipmentBox{
    .el-form-item__content{
      justify-content: flex-start;
    }
  }

}

// 移动端适配
@media screen and (max-width: 640px){
  .systemBox{
    padding-top: 0;
    .containLeft,.collapse-icon{
      display: none;
    }
    .mainBox{
      // 表格
      .main{
        // 标题
        .title{
          &>span{
            flex: none;
          }
          .el-input{
            margin-left: 10px;
            flex: 1;
          }
        }
        // 表格内容
        .tableBox{
          tbody{
            .col-btn{
              .cell{
                display: flex;
                flex-direction: column;
                button{
                  margin: 0;

                }
              }
            }
          }
        }
     }
      // 弹窗
      .el-dialog{
        width: 90%!important;
        .multiple-item{
          .el-form-item__content{
            display: block;
            .el-select{
              width: 100%;
              margin-bottom: 0.5rem !important;
              margin-left: 0 !important;
            }
          }
        }
        .item-group{
          display: block;
          .el-form-item{
            width: 100%;
          }
        }
      }
    }
  }
}